---
- name: install iptables
  yum: name=iptables state=installed

- name: install iptables related packages
  yum: name=iptables-services state=installed
  when: ansible_distribution_major_version|int >= 7

- name: template iptables
  template: >
      src=iptables.j2
      dest=/etc/sysconfig/iptables
      owner=root
      group=root
      mode=0600
      backup=yes
  notify: restart iptables

- name: template ip6tables
  template: >
      src=ip6tables.j2
      dest=/etc/sysconfig/ip6tables
      owner=root
      group=root
      mode=0600
      backup=yes
  notify: restart ip6tables
  when: "'scope' in ansible_default_ipv6 and ansible_default_ipv6.scope == 'global'"

- name: enable and start iptables service
  service: name=iptables state=started enabled=yes

- name: enable and start ip6tables service
  service: name=ip6tables state=started enabled=yes
  when: "'scope' in ansible_default_ipv6 and ansible_default_ipv6.scope == 'global'"
